@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat+Alternates&display=swap'); /*font family of headers*/

footer{
    background: #140B5C;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
	font-size: 14px;
}

.content{
    width: 100%;
    padding: 3px 2px;
}

.link-boxes ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.link-boxes ul li a{
    color: white;
    margin: 20px;
    text-decoration:none;
    transition: 0.5s;
    opacity: 0.7;
}
.link-boxes ul li a:hover{
    opacity: 1;
}

.media-icons{
    display: flex;
    justify-content: center;
}
.media-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px 10px 0px 10px;
    border-radius: 50%;
}
.media-icons a i{
    color: #140B5C;
    opacity: 0.9; 
}
.media-icons a:hover{ /* icons hover effects*/
    background-color: #e0c3fc;
    transition: 0.5s;
}

p{
    color: #ffffff;
    text-align: center;
    opacity: 0.7;
}

.bottom-details{
    text-align: center;
    color: bisque;
}
.bottom-details p a{
    color: white;
    text-decoration: none;
}
